:root {
   --color-light-white: #f0f4f5;
   --color-balck: black;
   --color-blue:#00bcd4;
   --color-light-yellow:#fff59d;
   --color-gray:#efefef;
   --color-white: white;
   --color-orange: #feb546;
   --color-dark-purple: #5c007a;

   /* Size */
   --padding: 32px;
   --padding-small: 8px;
   --margin-tiny: 3px;

   /* Font size */
   --font-large: 48px;
   --font-medium: 28px;
   --font-small: 16px;
   --font-micro: 14px;

   /* Font weight */
   --font-weight-light: 300;
   --font-weight-medium: 500;
   --font-weight-heavy: 900;

   /* icon size */
   --icon-size: 34px;

   --size-border-radius: 6px;

   /* Animation */
   --animation-duration: 300ms;
}

body {
   margin:0;
   font-family: "Roboto";
}

a {
   text-decoration: none;
   color: var(--bright-text-color);
}

ul {
   list-style: none;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

button {
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
   padding: 0;
}

/* fix!! */
section {
   text-align: center;
   margin: auto;
   padding: 50px;
}

#home {
   background-color: var(--color-blue);
   text-align: center;
   padding: 40px;
   padding-top: 120px;
}

.home__avatar {
   width: 250px;
   height: 250px;
   background-position: 50% 50%;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
}

.home__description, .home__title {
   color: var(--color-white);
}

h1 {
   color: var(--color-balck);
   font-size: var(--font-large);
   font-weight: var(--font-weight-medium);
   margin: 16px 0;
}

h2 {
   color: var(--color-light-white);
   font-size: var(--font-medium);
   font-weight: var(--font-weight-light);
}

h3 {
   color: var(--color-balck);
   font-size: var(--font-medium);
   font-weight: var(--font-weight-light);
}

.home__contact {
   color: var(--color-white);
   font-size: var(--font-medium);
   font-weight: var(--font-weight-light);
   margin: 24px;
   padding: 8px 12px;
   border: 2px solid var(--color-white);
   border-radius: var(--size-border-radius);
}


.section__container {
   max-width: 1200px;
   margin: auto;
}

p {
   color: var(--color-balck);
   font-size: var(--font-medium);
   font-weight: var(--font-weight-medium);
   margin: 4px 0;
}


/* About */
.profile__details__container {
   padding-top: 10px;
}
.profile__link {
   color: var(--color-balck);
   background-color: var(--color-light-white);
   font-size: var(--font-regular);
   font-weight: var(--font-weight-light);
   margin: 1px;
   padding: 4px 8px;
   border: 3px solid var(--color-gray);
   border-radius: var(--size-border-radius);
}



/* section__my_work */
#work {
   background-color: var(--color-light-yellow);
}

.work__categories {
   margin: 40px;
}

.category__btn {
   padding: 8px 48px;
   font-size: var(--font-small);
   border: 3px solid var(--color-white);
   border-radius: var(--size-border-radius);
   position: relative;
}

.category__btn.selected,
.category__btn:hover {
   background-color: var(--color-blue);
   color: var(--color-light-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
   /* background-color: var(--color-white); */
   opacity: 1;
   top: 0;
}


.category__count {
   position: absolute;
   top: -20px;
   right: 16px;
   opacity: 0;

   display: inline-block;
   width: 24px;
   height: 24px;
   color: var(--color-white);
   background-color: var(--color-orange);
   line-height: 24px;
   border-radius: 50%;
}


.work__projects {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   opacity: 1;
   transition: var(--animation-duration) ease-out;
}

.work__projects.anim-out {
   transform: scale(0.96) translateY(40px);
}

.project {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 280px;
   height: 250px;
   position: relative;
   margin: var(--margin-tiny);
   background-color: var(--color-light-white);
}

.project.invisible {
   display: none;
}

.project__img {
   max-width: 100%;
   max-height: 100%;
}

.project__description {
   position: absolute;
   top:0;
   left:0;
   opacity:0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: var(--color-balck);
   width: 100%;
   height: 100%;

}

.project:hover .project__description {
   opacity: 0.8;
}

.project__description h3 {
   color: var(--color-orange);
}

.project__description .short__line {
   background-color: var(--color-white);
   width:50px;
   height: 2px;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   margin-top: 8px;
}

.project__description span {
   margin-top: 8px;
   color: var(--color-light-white);
}

.project__description i {
   margin-top: 20px;
   padding-right: 10px;
   color: var(--color-light-white);
   font-size: var(--font-large);
}


/* section__contact */
#contact {
   background-color: var(--color-gray);
}

#contact .icons {
   display: flex;
   justify-content: center;
   padding-bottom: var(--padding);
   font-size: var(--font-large);
}


#contact .icons li {
   padding: var(--padding-small);
}

a i {
   color: var(--color-balck);
}

#contact .copy-right {
   font-size: var(--font-small);
}

/* CSS Tooltip */
/* email tooltip */
.tooltip {
   position: relative;
   display: inline-block;
   /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   /* top: -5px;
   left: 105%; */
   top: 13px;
   margin-left:7px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   font-size: var(--font-micro);

   /* Position the tooltip */
   position: absolute;
   z-index: 1;
}


.tooltip:hover .tooltiptext {
   visibility: visible;
}
   
/*  tooltip left arrow */
.tooltip .tooltiptext::after {
   content: " ";
   position: absolute;
   top: 50%;
   right: 100%; /* To the left of the tooltip */
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent black transparent transparent;
   }



/* navbar */
#navbar {
   position: fixed;
   width: 100%;
   z-index: 1;

   display: flex;
   justify-content: space-between;
   align-items: center;

   background-color: transparent;
   color: var(--color-white);

   padding: 16px;
   transition: var(--animation-duration) ease-in-out;
}

.navbar__logo {
   font-size: var(--font-medium);
   font-weight: var(--font-weight-medium);
}

/* 💜 */
#navbar.navbar--dark {
   background-color: var(--color-blue);
   /* padding: 8px; */
}

.navbar__logo {
   font-size: var(--font-medium);
   font-weight: var(--font-weight-medium);
}

.navbar__menu {
   display: flex;
}

.navbar__menu__item {
   margin: 0 4px;
   padding: 8px 12px;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: var(--size-border-radius);
}

/* 💜 */
.navbar__menu__item.active {
   border-color: var(--color-white);
}

.navbar__menu__item:hover {
   border-color: var(--color-white);
   background-color: var(--color-dark-purple);
}

.navbar__toggle-btn {
   position: absolute;
   top: 17px;
   right: 32px;
   font-size: var(--font-medium);
   color: var(--color-white);
   display: none;
}

.arrow-up {
   position: fixed;
   font-size: 35px;
   color: var(--color-white);
   background-color: var(--color-blue);
   border-radius: 50%;

   width: 50px;
   height: 50px;
   right: 5%;
   bottom: 0;
   visibility: hidden;

   transition: 300ms ease-in;
}

.arrow-up.visible {
   visibility: visible;
   right: 3%;
   bottom: 5%;
}





@media screen and (max-width: 768px) {
   :root {
      /* color */
      --color-light-white: #f0f4f5;
      --color-balck: black;
      --color-blue:#00bcd4;
      --color-light-yellow:#fff59d;
      --color-gray:#efefef;
      --color-white: white;
      --color-orange: #feb546;

      /* Font size */
      --font-large: 1.875rem;
      --font-medium: 1.125rem;
      --font-regular: 1rem;
      --font-small: 0.875rem;
      --font-micro: 0.75rem;
    }

   .navbar__toggle-btn {
      display: block;
      top:16px;
      right: 16px;
      font-size: var(--font-medium);
   }

   #navbar {
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--color-blue);
   }

   #navbar.navbar--dark{
      background-color: var(--color-blue);
   }

   .navbar__menu {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: center;
      text-align: center;
   }

   .navbar__menu.open {
      display: flex;
      padding-top: 8px;
   }
   
   .navbar__menu__item {
      width: 100%;
   }
}