:root {
   --light-text-color: #f0f4f5;
   --dark-text-color: black;
   --background-blue-color:#00bcd4;
   --background-yellow-color:#fff59d;
   --background-gray-color:#efefef;
   --background-white-color: white;
   --background-orange-color: #feb546;

   /* Size */
   --padding: 32px;
   --padding-small: 8px;
   --margin-tiny: 3px;

   /* Font size */
   --font-large: 68px;
   --font-medium: 36px;
   --font-small: 28px;
   --font-micro: 18px;

   /* Font weight */
   --font-weight-light: 300;
   --font-weight-medium: 500;
   --font-weight-heavy: 900;

   /* icon size */
   --icon-size: 34px;

   --size-border-radius: 6px;

   /* Animation */
   --animation-duration: 300ms;
}

body {
   margin:0;
   font-family: "Roboto";
}

a {
   text-decoration: none;
   color: var(--bright-text-color);
}

ul {
   list-style: none;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

button {
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
   padding: 0;
}

/* fix!! */
section {
   text-align: center;
   margin: auto;
   padding: 50px;
}

#home {
   background-color: var(--background-blue-color);
   text-align: center;
   padding: 40px;
   padding-top: 120px;
}

.home__avatar {
   width: 400px;
   height: 400px;
   background-position: 50% 50%;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
}

h1 {
   color: var(--dark-text-color);
   font-size: var(--font-large);
   font-weight: var(--font-weight-medium);
   margin: 16px 0;
}

h2 {
   color: var(--light-text-color);
   font-size: var(--font-medium);
   font-weight: var(--font-weight-light);
}

h3 {
   color: var(--dark-text-color);
   font-size: var(--font-medium);
   font-weight: var(--font-weight-light);
}

.home__contact {
   color: var(--background-white-color);
   font-size: var(--font-medium);
   font-weight: var(--font-weight-light);
   margin: 24px;
   padding: 8px 12px;
   border: 2px solid var(--background-white-color);
   border-radius: var(--size-border-radius);
}


.section__container {
   max-width: 1200px;
   margin: auto;
}

p {
   color: var(--dark-text-color);
   font-size: var(--font-medium);
   font-weight: var(--font-weight-medium);
   margin: 4px 0;
}




/* section__my_work */
#work {
   background-color: var(--background-yellow-color);
}

.work__categories {
   margin: 40px;
}

.category__btn {
   padding: 8px 48px;
   font-size: var(--font-small);
   border: 1px solid var(--background-white-color);
   border-radius: var(--size-border-radius);
   position: relative;
}

.category__btn.selected,
.category__btn:hover {
   background-color: var(--background-blue-color);
   color: var(--light-text-color);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
   /* background-color: var(--background-white-color); */
   opacity: 1;
   top: 0;
}


.category__count {
   position: absolute;
   top: -20px;
   right: 16px;
   opacity: 0;

   display: inline-block;
   width: 24px;
   height: 24px;
   color: var(--background-white-color);
   background-color: var(--background-orange-color);
   line-height: 24px;
   border-radius: 50%;
}


.work__projects {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   opacity: 1;
   transition: var(--animation-duration) ease-out;
}

.work__projects.anim-out {
   transform: scale(0.96) translateY(40px);
}

.project {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 280px;
   height: 250px;
   position: relative;
   margin: var(--margin-tiny);
   background-color: var(--background-gray-color);
}

.project.invisible {
   display: none;
}

.project__img {
   max-width: 100%;
   max-height: 100%;
}

.work__categories. {

}




/* section__contact */
#contact {
   background-color: var(--background-gray-color);
}

#contact .icons {
   display: flex;
   justify-content: center;
   padding-bottom: var(--padding);
   font-size: var(--font-medium);
}


#contact .icons li {
   padding: var(--padding-small);
}

a i {
   color: var(--dark-text-color);
}

#contact .copy-right {
   font-size: var(--font-small);
}

/* CSS Tooltip */
/* email tooltip */
.tooltip {
   position: relative;
   display: inline-block;
   /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   /* top: -5px;
   left: 105%; */
   top: 13px;
   margin-left:7px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   font-size: var(--font-micro);

   /* Position the tooltip */
   position: absolute;
   z-index: 1;
}


.tooltip:hover .tooltiptext {
   visibility: visible;
}
   
/*  tooltip left arrow */
.tooltip .tooltiptext::after {
   content: " ";
   position: absolute;
   top: 50%;
   right: 100%; /* To the left of the tooltip */
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent black transparent transparent;
   }



/* navbar */
#navbar {
   position: fixed;
   width: 100%;
   z-index: 1;

   display: flex;
   justify-content: space-between;
   align-items: center;

   background-color: transparent;
   color: var(--background-white-color);

   padding: 16px;
   transition: var(--animation-duration) ease-in-out;
}

.navbar__logo {
   font-size: var(--font-medium);
   font-weight: var(--font-weight-medium);
}

/* 💜 */
#navbar.navbar--dark {
   background-color: var(--background-blue-color);
   /* padding: 8px; */
}

.navbar__menu {
   display: flex;
}

.navbar__menu.open {
   display: block;
}

.navbar__menu__item {
   margin: 0 4px;
   padding: 8px 12px;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: var(--size-border-radius);
}

/* 💜 */
.navbar__menu__item.active {
   border-color: var(--background-white-color);
}

.navbar__menu li:hover {
   border: 4px solid var(--bright-text-color);
}

.navbar__toggle-btn {
   position: absolute;
   top: 17px;
   right: 32px;
   font-size: var(--font-medium);
   color: var(--background-white-color);
   display: none;
}







@media screen and (max-width: 768px) {
   :root {
      /* color */
      --light-text-color: #f0f4f5;
      --dark-text-color: black;
      --background-blue-color:#00bcd4;
      --background-yellow-color:#fff59d;
      --background-gray-color:#efefef;
      --background-white-color: white;
      --background-orange-color: #feb546;

      /* Font size */
      --font-large: 1.875rem;
      --font-medium: 1.125rem;
      --font-regular: 1rem;
      --font-small: 0.875rem;
      --font-micro: 0.75rem;
    }

   #navbar {
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--background-blue-color);
      /* padding: 8px 24px; */
   }

   #navbar.navbar--dark{
      /* padding: 16px; */
      background-color: var(--background-blue-color);
   }

   .navbar__menu {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: center;
   }


   .navbar__toggle-btn {
      display: block;
      top:16px;
      right: 16px;
      font-size: var(--font-medium);
   }

   .navbar__menu.open {
      display: flex;
   }
}